html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #e39280;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  position: sticky;
  bottom: 0;
  height: 60px;
  margin-bottom: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 
  width: 100%;
  padding: 0 2rem;
}



.rc-scout__link {
  color: #0070f3!important;
}
